@import url('https://fonts.googleapis.com/css?family=Chivo|Asul&display=swap');

body {
  margin: 0px;
  font-family: 'PT Sans';
  font-size: 11pt;
  color: #002048;
  background-color: #f8fbff;
}

#version {
  font-size: 70%;
}

.content_container, .content_container_rep {
  margin-left: auto;
  margin-right: auto;
  margin-top: 4em;
  margin-bottom: 4em;
  max-width: 50em;
  background-color: #fefefe;
  border-top: 0.75px solid #ccc;
  border-bottom: 0.75px solid #888;
  padding: 3em;
}

.content_container {
  line-height: 170%;
  max-width: 42em;
}

.content_container a {
  color: #0366d6;
  text-decoration: none;
}
.content_container a:hover {
  text-decoration: underline;
}
.content_container a:visited, .content_container a:active {
  color: #0366d6;
  text-decoration: none;
}


h1 {
  font-family: "Asul", sans-serif;
  font-size: 24pt;
  font-weight: 400;
  line-height: 1;
}

#online-repertorium-van-teksten-in-het-handschrift-hulthem {
  font-size: 32pt;
}

h2 {
  font-family: "Asul", sans-serif;
  font-size: 16pt;
  font-weight: 400;
  line-height: 1;
}

.column_left {
  float: left;
  width: 18%;
  padding: 0.5em;
  background-color: #eee;
}

.column_right {
  float: left;
  width: 78%;
  padding: 5px;
  font-size: 0; /* prevente whitespace space in lower elements */
}

.column_right  span {
  font-size: 11pt;
}

/* Clear floats after the columns */
.con_container, .nr_container, .ops_container, .inc_container, .exp_container, .afr_container,
.sam_container, .nam_container, .aut_container, .srt_container, .vrm_container,
.lng_container, .ain_container, .pet_container, .elt_container, .slt_container,
.vss_container, .zie_container, .ovt_container {
  width:100%;
  content: "";
  display: table;
  clear: both;
}

.con_container, .nr_container, .ops_container, .inc_container, .exp_container, .afr_container,
.sam_container, .nam_container, .aut_container, .srt_container, .vrm_container,
.lng_container, .ain_container, .pet_container, .elt_container, .slt_container,
.vss_container, .zie_container, .ovt_container {
  border-top: 1px solid rgb(220, 213, 221);
  background: color: #eee;
}

.nav_container .column_left {
  background-color: #fff;
}

.nav_container .column_right {
  background-color: #fff;
  font-size: 12pt;
}

.pag_container {
  height: 20pt;
  background-color: #ccc;
  padding: 4pt 5pt 6pt 50pt;
  float: right;
}

.pag_container a, .pag_container a:hover, .pag_container a:visited,
.pag_container a:active {
  color: #000;
}
.con_container a, .con_container a:hover, .con_container a:visited,
.con_container a:active {
  color: #000;
}

.con_pag, .home_pag, .prev_pag, .next_pag {
  border: 1px solid #666;
  background-color: #f9f9f9;
  width: 20pt;
  height: 20pt;
  text-align: center;
  line-height: 20pt;
  float: right;
  margin-left: 4pt;
}

.ops, .inc, .exp, .afr, .sam, .nam, .aut, .srt, .vrm, .lng, .ain, .pet,
.elt, div.editie, div.secundaire_lit, div.parallel_variant {
  /* border: 1px solid red; */
  display: block;
}

.ovt_container .secundaire_lit {
  float: none;
  display: inline;
}

div.ref {
  display: none;
  padding-left: 5em;
  padding-top: 0.1em;
  padding-bottom: 0.2em;
}

.editie:hover div.ref, .secundaire_lit:hover div.ref {
  color: #666;
  display: block;
  font-size: 11pt;
  padding-left: 3em;
  padding-top: 0.2em;
  padding-bottom: 0.75em;
}

.ref.ref {
  display: none;
}

.con_container .column_left {
  text-align: right;
}

.con_container .column_right {
  padding-top: 8px;
  padding-right: 0px;
  padding-bottom: 9px;
  padding-left: 12px;
}

.hulthem_nummer_contents {
  padding-right: 1em;
}

.header {
  height:4em;
  background-color: #000;
  padding-top: 0.3em;
  padding-left: 0.3em;
}

#logo {
  height: 3.5em;
}

.footer {
  color: #fff;
  background-color: #002048;
  padding-left: 7em;
  padding-top: 4em;
  padding-bottom: 4em;
  line-height: 150%;
}

.footer .footer_column {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Chivo"  , sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4285714286;
  letter-spacing: -0.0142857143em;
  margin-top: 1.7857142857em;
}

.footer a {
  color: #fff;
}
